 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
a:hover {
    text-decoration: none;
}
body {
    background: url('../remodelImages/black11.jpg');
    background-repeat: no-repeat;
    background-size: 2400px 2100px;
    background-position: left center;
}
 .pager {
     display: none;
     height: 100%;
 }
 .wrapper {
     width: 95vw;
     height: 100vh;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 120px 1fr 50px;
     overflow: hidden;
 }
 /*-----Header Section----------------------------------*/
 header {
     /*min-height: 350px;*/
     /*border: thin solid white;*/
     position: relative;
     z-index: 10;
 }
.title {
    height: 100%;
    position: absolute;
    top: 20px;
    background: url('../remodelImages/wood11.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title>p {
    font-family: cursive;
    font-size: clamp(48px,8vw,104px);
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.lg-Title {
   font-family: cursive;
    font-size: 6rem;
    font-weight: 600;
    margin: 0;border: 0;
}
.sm-Title {
   font-family: cursive;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    border: 0;
    line-height: 1;
}
/*-----Main Section-------------------------------------*/
main{
    /*border: thin solid purple;*/
    position: relative;
    overflow: hidden;
}
main>aside {
    /*border: 2px solid gold;*/
    min-height: fit-content!important;
    padding: 0!important;
}
.navbar {
    /*border: 2px solid red;*/
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 25% 0 0 25%;
    background-image: url('../remodelImages/hammer.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-item {
    min-height: 100px;
    border: 3px outset antiquewhite;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-weight: bold;
    font-size: clamp(1.25rem,3vw,2rem);
}
a>i {
    background: url('../remodelImages/wood55.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(2rem,3vw,2.75rem);
}
main>section {
    padding: 0!important;
    /*border: 2px solid green;*/
}
/*-----Footer Section-----------------------------------*/
footer {
     overflow: hidden;
 }
footer h5{
     font-size: clamp(.75rem,1.5vw,1rem);
 }
footer i {
     font-size: clamp(1rem,2vw,2.5rem);
 }

/*-----------------------------------------*/
/*-----------Index.html--------------------*/
#imageWrapper {
    /*border: 2px solid red;*/
    /*display: none;*/
    /*width: 100%;*/
    min-height: 45vh;
    height: 100%;
    overflow: hidden;
    border-radius: 160px;
    box-shadow: inset 0 0 3rem black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    z-index: 0;
 }
 .img1 {background-image: url('../remodelImages/remodel71.jpg');}
 .img2 {background-image: url('../remodelImages/remodel41.jpg');}
 .img3 {background-image: url('../remodelImages/remodel11.jpg');}
 .img4 {background-image: url('../remodelImages/remodel81.jpg');}
 img {
     /*width: 900px;*/
     /*height: 700px;*/
     box-shadow: inset 0 0 30px black;
 }
/*------------------------------------------------------*/
/*-----About Section------------------------------------*/
 .about {
     height: 95%;
     border-radius: 7px;
 }
 .aboutArticle {
     height: 100%;
     font-size: 1.75rem;
     font-family: cursive;
     /*background-color: rgb(192,192,192,.5);*/
     background-image: url('../remodelImages/black11.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 7px;
     overflow: auto;
 }
.aboutNav {
    border-radius: 20px;
    padding: 5%;
    min-height: 100%;
}
/*------------------------------------------------------*/
/*-----Testimonies Section------------------------------*/
.testiments {
    height: 100%;
    overflow: auto;
    /*border: 2px solid red;*/
    padding: 0 5px;
}
 .testiments>div{
    box-sizing: border-box!important;
    min-height: 100%;
    position: relative;
    overflow: auto;
 }
 .curve1 {
     border: 8px groove silver;
     border-radius: 25% 0 25% 0;
 }
 .curve2 {
     border: 8px groove goldenrod;
     border-radius: 0 25% 0 25%;
 }
 .testiments img {
     /*max-width: 300px;*/
     /*height: 300px;*/
     border-radius: 50%;
 }
 .testiWords{
   /*height: 50%;*/
   /*width: 80%;*/
   /*border: 2px solid red;*/
   border-radius: 45px;
   padding: 20px;
   overflow: hidden;
   font-size: clamp(0.75rem,3vw,1.5rem);
   background-color: rgb(192,192,192,.2);
 }
 .scroller {
  overflow: auto;
}
.scroller::-webkit-scrollbar {
    background-image: url('../remodelImages/wood3.jpg');
    width: 12px;
}

.scroller::-webkit-scrollbar-thumb {
    /*padding: 10px;*/
    /*height: 10px;*/
    /*border-radius: 50%;*/
    background: url('../remodelImages/wood23.jpg');
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: 100px auto;*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
  /*background-color: silver;*/
}
.scroller::-webkit-scrollbar-track {
 
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: contain;*/
}
 /*-----------------------------------------------------*/
 /*------contactUs Page---------------------------------*/
 .contactUs {
    background-image: url('../remodelImages/wood55.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }
 .contactUs>section {
     overflow: auto;
 }
 #contactUsForm {
     border: thin solid;
     /*height: 90%;*/
     background-color: rgb(192,192,192,.5);
 }
 /*-----------------------------------------------------*/
 /*------Services Page----------------------------------*/
 .serviceMain {
     overflow: auto;
 }
 .serviceMain .navbar{
    border-radius: 20px;
}
 .serviceSection {
     overflow: auto;
     height: 100%;
 }
 .serviceSection>div {
     min-height: 100%;
     /*overflow: hidden;*/
 }
 .serviceSection h3 {
    /*padding: 10px;*/
    font-size: clamp(24px,1.75vw,3rem);
    /*border: thin solid white;*/
    vertical-align: middle;
    background: url('../remodelImages/wood11.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .serviceSection i {
     padding-right: 10px;
     background: url('../remodelImages/wood55.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    
 }
 @media(max-width: 420px){
     .scroller::-webkit-scrollbar {
    background-image: url('../remodelImages/wood3.jpg');
    width: 2px;
   
}
 }